VITE_SUPABASE_URL=https://cqbwmmrhilubaqzniomm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNxYndtbXJoaWx1YmFxem5pb21tIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDk1MTgzMiwiZXhwIjoyMDkwNTI3ODMyfQ.WNYV-1XGQ29oRaPRhGaKCATS5GwC7nK9SpRuko0AcAs
